<!-- templates/login/user_zmenu.html -->
<!-- show the login page -->
{% extends 'base_login.html' %}
{% block content %}
    <nav aria-label='breadcrumb'>
        <ol class='breadcrumb'>
            <li class='breadcrumb-item'><a href='{{ url_for("group_bp.groups") }}'>{{ _('Home') }}</a> </li>
            <li class='breadcrumb-item'><a href='{{ url_for("group_bp.groups") }}'>{{ _('Groups') }}</a></li>
            <li class='breadcrumb-item active'>{{ _('Create') }}</li>
        </ol>
    </nav>
    <h1>{{ _('Create New Group') }}<small> <strong>-</strong> {{ profile }}</small></h1>

    <div class='row'>
        <div class='col text-center mb-4'>
                <img class='mb-4' src='{{ url_for("static", filename="dist/img/OWL_logo/OWL_logo_md.png") }}' alt='OWL Logo' width='190' height='75'/>
                <h1 class='h3 mb-3 font-weight-normal'>{{ _('Create New Group') }}</h1>
        </div> <!-- /.text-center -->
    </div> <!-- /.row -->

    <div class='row'>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class='alert alert-danger alert_message'>{{ messages[0] }}</div> <!-- /.message_alert -->
        {% endif %}
        {% endwith %}
    </div> <!-- /.row -->

    {% if profile == 'admin' %}
        <form class='form-signin col-12 create_form' method='POST' action='{{ url_for("group_bp.create") }}'>
            <div class='row'>
                <div class='col'>
                    <div class='row'>
                        <div class='col'>
                            <!-- Name -->
                            <div class='form-label-group'>
                                <input type='text' id='inputName' class='form-control' name='name' placeholder='{{ _('Name') }}' required autofocus/>
                                <label for='inputName'>{{ _('Name') }}</label>
                            </div> <!-- /.form-label-group -->

                            <!-- Description -->
                            <div class='form-label-group'>
                                <input type='text' id='inputDescription' class='form-control' name='description' placeholder='{{ _('Description') }}' required autofocus/>
                                <label for='inputDescription'>{{ _('Description') }}</label>
                            </div> <!-- /.form-label-group -->
                        </div> <!-- /.col -->
                    </div> <!-- /.row -->

                    <div class='row text-center justify-content-center'>
                        <div class='col col-md-4 mx-auto justify-content-center'>
                            <!-- Group Managers List -->
                            <div class='row'>
                                <div class='col'>
                                    <fieldset>
                                        <legend><strong>{{ _('Group Manager(s)') }}</strong></legend>
                                        <ol class='box' id='managers_list'>

                                        </ol> <!-- /.box -->
                                    </fieldset>
                                </div> <!-- /.col -->
                            </div> <!-- /.row -->
                        </div> <!-- /.col -->

                        <div class='col col-md-4'>
                            <div class='row'>
                                <div class='col'>
                                    <fieldset>
                                        <legend><strong>{{ _('All Users List') }}</strong></legend>
                                        <ol class='box' id='all_users_list'>
                                            {% for user in users %}
                                                <li class='list_items' id='{{ user.username }}'>
                                                    <input type='hidden' value='{{ user.username }}'/>
                                                    {{ user.username }}
                                                </li>
                                            {% endfor %}
                                        </ol> <!-- /.box -->
                                    </fieldset>
                                </div> <!-- /.col -->
                            </div> <!-- /.row -->
                        </div> <!-- /.col -->

                        <div class='col col-md-4'>
                            <!-- Group Users List --><div class='row'>
                                <div class='col'>
                                    <fieldset>
                                        <legend><strong>{{ _('Group Users(s)') }}</strong></legend>
                                        <ol class='box' id='users_list'>

                                        </ol> <!-- /.box -->
                                    </fieldset>
                                </div> <!-- /.col -->
                            </div> <!-- /.row -->
                        </div> <!-- /.col -->
                    </div> <!-- /.row -->
                </div> <!-- /.col -->
            </div> <!-- /.row -->
            <div class='row'>
                <div class='col text-center'>
                    <button class='btn btn-primary' type='submit'>{{ _('Create') }}</button>
                    <a class='btn btn-danger' type='reset' href='{{ url_for("group_bp.groups") }}'>{{ _('Reset') }}</a>
                </div> <!-- /. col -->
            </div> <!-- /.row -->
        </form>
    {% endif %}
{% endblock %}