<!-- user_login.html -->
{% extends 'base_login.html' %}
{% block content %}
    <nav aria-label='breadcrumb'>
        <ol class='breadcrumb'>
            <li class='breadcrumb-item'><a href='{{ url_for("group_bp.groups") }}'>{{ _('Home') }}</a></li>
            <li class='breadcrumb-item active'>{{ _('Groups') }}</li>
        </ol>
    </nav>
    <h1>{{ _('Group Main Menu') }}<small> <strong>-</strong> {{ profile }}</small></h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class='alert alert-danger alert_message'>{{ messages[0] }}</div> <!-- /.message_alert -->
        {% endif %}
    {% endwith %}

    {% if profile == 'admin' or profile == 'manager' %}
        <section class='d-flex justify-content-center'>
            <div class='row h-100 w-100'>
                <div class='col col-md-6 w-100 mx-auto text-center'>
                    {% if profile == 'admin' %}
                        <a class='btn btn-outline-success main_menu_button create_button' data-placement='top'
                           href='{{ url_for("group_bp.create") }}' data-toggle='tooltip' title='{{ _('Create Group') }}'
                           type='button'>
                            <i class='fas fa-folder-plus i_create'></i>
                            <p>{{ _('Create Group') }}</p>
                        </a>
                    {% endif %}
                    {% if groups %}
                        <table class='table main_menu_table w-100'>
                            <thead>
                                <tr>
                                    <th scope='col'>{{ _('Group') }}</th>
                                    <th scope='col'>{{ _('Description') }}</th>
                                    <th scope='col'>{{ _('Users') }}</th>
                                    <th scope='col'>{{ _('Managers') }}</th>
                                    <th></th><th></th>
                                    {% if profile == 'admin' %} <th></th> {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for group in groups %}
                                    <tr class='justify-content-center main_tr'>
                                        <td class='text-left align-middle'>{{ group.name }}</td>
                                        <td class='text-left align-middle'>{{ group.description }}</td>
                                        <td class='text-left align-middle'>
                                            {% for user in group.users %}
                                                <a class='link_without_deco' href='{{ url_for("user_bp.read", username=user) }}'>{{ user }}</a>
                                            {% endfor %}
                                        </td>
                                        <td class='text-left align-middle'>
                                            {% for user in group.managers %}
                                                <a class='link_without_deco' href='{{ url_for("user_bp.read", username=user) }}'>{{ user }}</a>
                                            {% endfor %}
                                        </td>
                                        <td class='text-left align-middle'>
                                            <a class='btn btn-outline-info main_menu_button'
                                               data-toggle='tooltip' data-placement='top'
                                               title='{{ _('Read Group') }}' href='{{ url_for("group_bp.read", group_name=group.name) }}'>
                                                <i class='fas fa-folder i_read'></i>
                                            </a>
                                        </td>
                                        {% if profile == 'admin' %}
                                            <td class='text-left align-middle'>
                                                <a class='btn btn-outline-secondary main_menu_button'
                                                   data-toggle='tooltip' data-placement='top'
                                                   title='{{ _('Update Group') }}' href='{{ url_for("group_bp.update", group_name=group.name) }}'>
                                                    <i class='fas fa-folder-open i_update'></i>
                                                </a>
                                            </td>

                                            <td class='text-left align-middle'>
                                                <a class='btn btn-outline-danger main_menu_button'
                                                   data-toggle='tooltip' data-placement='top'
                                                   title='{{ _('Delete Group') }}' href='{{ url_for("group_bp.delete", group_name=group.name) }}'>
                                                    <i class='fas fa-folder-minus i_delete'></i>
                                                </a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div><h2>{{ _('Database does not contain any Group') }}</h2></div>
                    {% endif %}
                </div> <!-- /.col -->
            </div> <!-- /.row -->
        </section>
    {% elif profile == 'user' %}
    {% endif %}
{% endblock %}