<!-- templates/login/case_zmenu.html -->
<!-- show the login page case_user_case.html -->
{% extends 'base_login.html' %}
{% block content %}
    <div id='eventPanel' class='panel-content d-flex align-items-stretch'>
        <div id='eventPanelLeft'>
            <div id='eventPaneLeftSearch' class='form-group has-search'>
                <!--<span class='fad fa-search form-control-feedback'></span>
                <input class='form-control' type='search' placeholder='Search case names, IDs, ...' aria-label='Search case names, IDs, ...' aria-describedby='inputGroupPrepend'/>-->
            </div>
            <div id='eventPanelLeftFilters'>
                <div id='filtersTitle'>
                    <h3>{{ _('Status Filters') }}</h3>
                </div>
                <div id='filtersInput'>
                    <form action='#' class='orCustomCheckbox'>
                        <div class='row'>
                            <input type='checkbox' id='inputDraft' checked name='caseFilter' value='Draft' />
                            <label for='inputDraft'>{{ _('Draft') }}
                            </label>
                        </div>
                        <div class='row'>
                            <input type='checkbox' id='inputActive' checked name='caseFilter' value='Active' />
                            <label for='inputActive'>{{ _('Active') }}
                            </label>
                        </div>
                        <div class='row'>
                            <input type='checkbox' id='inputOnHold' checked name='caseFilter' value='On hold' />
                            <label for='inputOnHold'>{{ _('On hold') }}
                            </label>
                        </div>
                        <div class='row'>
                            <input type='checkbox' id='inputClosed' checked name='caseFilter' value='Closed' />
                            <label for='inputClosed'>{{ _('Closed') }}
                            </label>
                        </div>
                    </form>
                </div> <!-- /#filters_input -->
                <div id='filtersReset'>
                    <button class='btn btn-sm' id='resetButton'>{{ _('Reset Filters') }}</button>
                </div> <!-- /#filters_reset -->
            </div> <!-- /#eventpanel_left_filters -->
        </div> <!-- /#eventpanel_left_filters -->

        <div id='eventPanelRight'>
            <table id='eventPanelRightTable' class='table table-hover'>
                <thead>
                    <tr>
                        <th scope='col'>{{ _('SELECT') }}</th>
                        <th scope='col'>{{ _('GROUP') }}</th>
                        <th scope='col'>{{ _('CASE NAME') }}</th>
                        <th scope='col'>{{ _('CASE TYPE') }}</th>
                        <!--<th scope='col'>{ _('CLIENT NAME') }}</th>-->
                        <th scope='col'>{{ _('CASE ID') }}</th>
                        <th scope='col'>{{ _('DUE DATE') }}</th>
                        <!--<th scope='col'>{ _('CREATED') }}</th>-->
                        <!--<th scope='col'>{ _('LAST UPDATED') }}</th>-->
                        <th scope='col'>{{ _('STATUS') }}</th>
                        <th scope='col'></th>
                    </tr>
                </thead>
                <tbody>
                    {% for name, case in cases.items() %}
                        <tr>
                            <td class='align-top orSelectCase'>
                                <input type='checkbox' id='{{ name }}' name='selectedCase' value='{{ name }}' class='orSelectCaseBox' />
                                <label for='{{ name }}'></label>
                            </td>
                            <td>
                                {% for group, user in case.groups.items() %}
                                    <!--<p>GROUP: { group }}</p>
                                    <p>ROLE: { user.role }}</p>-->
                                    <p>{{ group }}
                                        <small><i class='fad fa-angle-double-left'></i></small>
                                        <span class='orUserProfile'>
                                            {{ user.role }} <!-- Admin -->
                                        </span>
                                        <small><i class='fad fa-angle-double-right'></i></small>
                                    </p>
                                {% endfor %}
                            </td>
                            <td>
                                <a href='#' class='orName'
                                   data-name='{{ case.name }}' data-toggle='modal' data-target='#dialogViewCase'>
                                    <strong>{{ case.name }}</strong>
                                </a>
                            </td>
                            <td>{{ case.type }}</td>
                            <!--<td>{ case.client_name }}</td>-->
                            <td>{{ case.case_id }}</td>
                            <td>{{ case.due_date }}</td>
                            <!--<td>{ case.creation_date }}</td>-->
                            <!--<td>{ case.last_update }}</td>-->
                            <td>
                                <span class='orCaseStatusIcon orNormalFont'>
                                    {% if case.status == 'Active' %}
                                        <i class='fad fa-play orCaseStatusIconPlay'></i>
                                    {% elif case.status == 'Draft' %}
                                        <i class='fad fa-circle orCaseStatusIconDraft'></i>
                                    {% elif case.status == 'On hold' %}
                                        <i class='fad fa-pause orCaseStatusIconOnHold'></i>
                                    {% elif case.status == 'Closed' %}
                                        <i class='fad fa-stop orCaseStatusIconClosed'></i>
                                    {% endif %}
                                    {{ case.status }}
                                </span></td>
                            <td>
                                <div class='dropdown'>
                                    <a class='btn btn-outline-dark dropdown-toggle' href='#' role='button'
                                       id='dropdownMenuLink' data-toggle='dropdown' aria-haspopup='true'
                                       aria-expanded='false'>
                                        <i class='fas fa-caret-down'></i>
                                    </a>

                                    <div class='dropdown-menu' aria-labelledby='dropdownMenuLink'>
                                        <a class='dropdown-item orEditCase' href='#'
                                           data-name='{{ case.name }}' data-toggle='modal' data-target='#dialogEditCase'>
                                            <i class='fad fa-file-edit orCaseMenuEdit'></i> {{ _('Edit case') }}
                                        </a>
                                        <a class='dropdown-item orExportCase' data-name='{{ case.name }}' href='#'>
                                            <i class='fad fa-file-export  orCaseMenuExport'></i> {{ _('Export case') }}
                                        </a>
                                        <a class='dropdown-item orDeleteCase' href='#'
                                           data-name='{{ case.name }}' data-toggle='modal' data-target='#dialogDeleteCase'>
                                            <i class='fad fa-trash orCaseMenuDelete'></i> {{ _('Delete case') }}
                                        </a>
                                    </div> <!-- /.dropdown-menu -->
                                </div> <!-- /.dropdown -->
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> <!-- /#eventPanelRight -->
    </div> <!-- /#eventPanel -->
{% endblock %}
