<!-- templates/login/case_zmenu.html -->
<!-- show the login page case_user_case.html -->
{% extends 'base_login.html' %}
{% block content %}
    <div id='eventPanel' class='panel-content d-flex align-items-stretch'>
        <div id='eventPanelLeft'>
            <div id='eventPaneLeftSearch' class='form-group has-search'>
                <!--<span class='fad fa-search form-control-feedback'></span>
                <input class='form-control' type='search' placeholder='Search case names, IDs, ...' aria-label='Search case names, IDs, ...' aria-describedby='inputGroupPrepend'/>-->
            </div>
            <div id='eventPanelLeftFilters'>
                <div id='filtersTitle'>
                    <h3>{{ _('Status Filters') }}</h3>
                </div>
                <div id='filtersInput'>
                    <form action='#' class='orCustomCheckbox'>
                        <div class='row'>
                            <input type='checkbox' id='inputDraft' checked name='caseFilter' value='Draft' />
                            <label for='inputDraft'>{{ _('Draft') }}
                            </label>
                        </div>
                        <div class='row'>
                            <input type='checkbox' id='inputActive' checked name='caseFilter' value='Active' />
                            <label for='inputActive'>{{ _('Active') }}
                            </label>
                        </div>
                        <div class='row'>
                            <input type='checkbox' id='inputOnHold' checked name='caseFilter' value='On hold' />
                            <label for='inputOnHold'>{{ _('On hold') }}
                            </label>
                        </div>
                        <div class='row'>
                            <input type='checkbox' id='inputClosed' checked name='caseFilter' value='Closed' />
                            <label for='inputClosed'>{{ _('Closed') }}
                            </label>
                        </div>
                    </form>
                </div> <!-- /#filters_input -->
                <div id='filtersReset'>
                    <button class='btn btn-sm' id='resetButton'>{{ _('Reset Filters') }}</button>
                </div> <!-- /#filters_reset -->
            </div> <!-- /#eventpanel_left_filters -->
        </div> <!-- /#eventpanel_left_filters -->

        <div id='eventPanelRight'>
            <table id='eventPanelRightTable' class='table table-hover'>
                <thead>
                    <tr>
                        <th scope='col'>{{ _('SELECT') }}</th>
                        <th scope='col'>{{ _('GROUP') }}</th>
                        <th scope='col'>{{ _('CASE NAME') }}</th>
                        <th scope='col'>{{ _('CASE TYPE') }}</th>
                        <th scope='col'>{{ _('CLIENT NAME') }}</th>
                        <th scope='col'>{{ _('CASE ID') }}</th>
                        <th scope='col'>{{ _('DUE DATE') }}</th>
                        <th scope='col'>{{ _('CREATED') }}</th>
                        <th scope='col'>{{ _('LAST UPDATED') }}</th>
                        <th scope='col'>{{ _('STATUS') }}</th>
                        <th scope='col'></th>
                    </tr>
                </thead>
                <tbody>
                    {% for name, case in cases.items() %}
                        <tr>
                            <td>
                                <input type='checkbox' id='{{ name }}' name='selectedCase' value='{{ name }}'  />
                                <label for='{{ name }}'></label>
                            </td>
                            <td>
                                {% for group, user in case.groups.items() %}
                                    <!--<p>GROUP: { group }}</p>
                                    <p>ROLE: { user.role }}</p>-->
                                    <p>{{ group }}
                                        <small><i class='fad fa-angle-double-left'></i></small>
                                        <span class='orUserProfile'>
                                            {{ user.role }} <!-- Admin -->
                                        </span>
                                        <small><i class='fad fa-angle-double-right'></i></small>
                                    </p>
                                {% endfor %}
                            </td>
                            <td><a href='#' class='orName'><strong>{{ case.name }}</strong></a> </td>
                            <td>{{ case.type }}</td>
                            <td>{{ case.client_name }}</td>
                            <td>{{ case.case_id }}</td>
                            <td>{{ case.due_date }}</td>
                            <td>{{ case.creation_date }}</td>
                            <td>{{ case.last_update }}</td>
                            <td>
                                <span class='orCaseStatusIcon orNormalFont'>
                                    {% if case.status == 'Active' %}
                                        <i class='fad fa-play orCaseStatusIconPlay'></i>
                                    {% elif case.status == 'Draft' %}
                                        <i class='fad fa-circle orCaseStatusIconDraft'></i>
                                    {% elif case.status == 'On hold' %}
                                        <i class='fad fa-pause orCaseStatusIconOnHold'></i>
                                    {% elif case.status == 'Closed' %}
                                        <i class='fad fa-stop orCaseStatusIconClosed'></i>
                                    {% endif %}
                                    {{ case.status }}
                                </span></td>
                            <td>
                                <div class='dropdown'>
                                    <a class='btn btn-outline-dark dropdown-toggle' href='#' role='button'
                                       id='dropdownMenuLink' data-toggle='dropdown' aria-haspopup='true'
                                       aria-expanded='false'>
                                        <i class='fas fa-caret-down'></i>
                                    </a>

                                    <div class='dropdown-menu' aria-labelledby='dropdownMenuLink'>
                                        <a class='dropdown-item orEditCase' id='{{ case.name }}' href='#'>{{ _('Edit case') }}</a>
                                        <a class='dropdown-item' href='#'>{{ _('Export case') }}</a>
                                        <a class='dropdown-item orDeleteItemMenu' href='#'>{{ _('Delete case') }}</a>
                                    </div> <!-- /.dropdown-menu -->
                                </div> <!-- /.dropdown -->
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> <!-- /#eventPanelRight -->

        <!--
            ----------------------- Dialog - Create New Case -----------------------
        -->
        <div id='dialogCreateNewCase' title='Create New Case' class='orEmergentDialog'>
            <div id='formAlert' class='alert alert-dark'>
                {{ _('All fields marked with') }} <span class='orRequiredField'>*</span> {{ _('are required') }}
            </div> <!-- /#form_alert -->

            <form id='formCreateNewCase' action='{{ url_for("case_bp.create") }}' method='post'>
                <!---
                        Case - Create Name
                --->
                <div class='form-group row'>
                    <label for='caseInputName' class='col-2 col-form-label'>
                        <span class='orRequiredField'>*</span><strong>{{ _('Name') }}</strong>:
                    </label>
                    <div class='col-10'>
                        <input id='caseInputName' name='name' type='text' class='form-control'
                               placeholder='{{ _('Case Name') }}' aria-describedby='caseNameHelp'/>
                        <i class='fad fa-times orInputIconTimes' id='caseNameIconTimes'></i>
                        <i class='fad fa-check orInputIconCheck' id='caseNameIconCheck'></i>
                        <small id='caseNameHelp'
                               class='form-text text-muted orInvalidInput orAlertMessageFormValidation'>
                            {{ _('Input a valid Case name') }}
                        </small>
                    </div> <!-- /.col -->
                </div> <!-- /.form-group -->

                <!---
                        Case - Create ID
                --->
                <div class='form-group row'>
                    <label for='caseInputId' class='col-2 col-form-label'>
                        <span class='orRequiredField'>*</span><strong>ID</strong>:
                    </label>
                    <div class='col-10'>
                        <input id='caseInputId' name='id' type='text' class='form-control'
                               placeholder='{{ _('Case ID') }}' aria-describedby='caseIdHelp' />
                        <i class='fad fa-times orInputIconTimes' id='caseIdIconTimes'></i>
                        <i class='fad fa-check orInputIconCheck' id='caseIdIconCheck'></i>
                        <small id='caseIdHelp'
                               class='form-text text-muted orInvalidInputText orAlertMessageFormValidation'>
                            {{ _('Input a valid Case ID') }}
                        </small>
                    </div> <!-- /.col -->
                </div> <!-- /.form-group -->

                <!---
                        Case - Create Description
                --->
                <div class='form-group row'>
                    <label for='caseTextareaDescription' class='col-2 col-form-label'>
                        <span class='orRequiredField'>*</span><strong>{{ _('Description') }}</strong>:
                    </label>
                    <div class='col-10'>
                        <textarea id='caseTextareaDescription' name='description' class='form-control' rows='4'
                                  placeholder='Case Description' aria-describedby='caseDescriptionHelp'></textarea>
                        <i class='fad fa-times orInputIconTimes' id='caseDescriptionIconTimes'></i>
                        <i class='fad fa-check orInputIconCheck' id='caseDescriptionIconCheck'></i>
                        <small id='caseDescriptionHelp'
                               class='form-text text-muted orInvalidInputText orAlertMessageFormValidation'>
                            { _('Input a valid Case Description') }}
                        </small>
                    </div> <!-- /.col -->
                </div> <!-- /.form-group -->

                <!---
                        Case - Create Hidden Input
                --->
                <input id='caseHiddenInputCreateType' name='type' hidden aria-label=''/>
                <input id='caseHiddenInputCreateStatus' name='status' hidden aria-label=''/>
                <input id='caseHiddenInputCreateGroup' name='group' hidden aria-label='' />

                <!---
                        Case - Create Type - Status - Group
                --->
                <div class='form-group row align-items-center h-100'>
                    <!---
                        Case - Create Type
                    --->
                    <fieldset class='col-4 text-left orFieldSet'>
                        <legend class='orClassLegend'>
                            <strong>{{ _('Type') }}</strong> <small>({{ _('Default: ') }} <strong>{{ _('Fraud') }}</strong>)</small>:
                        </legend>

                        <div class='col-12'>
                            <div class='input-group'>
                                <div class='input-group-btn btn-group w-100'>
                                    <button type='button' class='btn dropdown-toggle orButtonSelect' id='buttonCaseCreateType'
                                            data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                                        <i class='fad fa-user-secret orCaseStatusIconFraud'></i>{{ _('Fraud') }}
                                        <i class='fas fa-caret-down orClassCaretDown'></i>
                                    </button>
                                    <div class='dropdown-menu orDropdownMenu'>
                                        <a class='dropdown-item orClassTypeCreateItem' href='#'><i class='fad fa-user-secret orCaseStatusIconFraud'></i>{{ _('Fraud') }}</a>
                                        <a class='dropdown-item orClassTypeCreateItem' href='#'><i class='fad fa-baby orCaseStatusIconIcac'></i>{{ _('ICAC') }}</a>
                                        <a class='dropdown-item orClassTypeCreateItem' href='#'><i class='fad fa-balance-scale orCaseStatusIconLegal'></i>{{ _('Legal') }}</a>
                                        <a class='dropdown-item orClassTypeCreateItem' href='#'><i class='fad fa-user-shield orCaseStatusIconSecurity'></i>{{ _('Security') }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <!---
                        Case - Create Status
                    --->
                    <fieldset class='col-4 text-left orFieldSet'>
                        <legend class='orClassLegend'>
                            <strong>{{ _('Status') }}</strong> <small>({{ _('Default: ') }} <strong>{{ _('Draft') }}</strong>)</small>:
                        </legend>
                        <!--<div class='btn-group open dropdown col-10 mx-auto' id='dropdownSelectTypeButton'>-->
                        <div class='col-12'>
                            <div class='input-group'>
                                <div class='input-group-btn btn-group w-100'>
                                    <button type='button' class='btn dropdown-toggle orButtonSelect orSVGsml' id='buttonCaseCreateStatus'
                                            data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                                        <i class='fad fa-circle orCaseStatusIconDraft'></i>{{ _('Draft') }}
                                        <i class='fas fa-caret-down orClassCaretDown'></i>
                                    </button>
                                    <div class='dropdown-menu orDropdownMenu orSVGsml'>
                                        <a class='dropdown-item orClassStatusCreateItem orSVGsml' href='#'><i class='fad fa-circle orCaseStatusIconDraft'></i>{{ _('Draft') }}</a>
                                        <a class='dropdown-item orClassStatusCreateItem orSVGsml' href='#'><i class='fad fa-play orCaseStatusIconPlay'></i>{{ _('Active') }}</a>
                                        <a class='dropdown-item orClassStatusCreateItem orSVGsml' href='#'><i class='fad fa-pause orCaseStatusIconOnHold'></i>{{ _('On hold') }}</a>
                                        <a class='dropdown-item orClassStatusCreateItem orSVGsml' href='#'><i class='fad fa-stop orCaseStatusIconClosed'></i>{{ _('Closed') }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <!---
                        Case - Create Group
                    --->
                    <fieldset class='col-4 text-left orFieldSet'>
                        <legend class='orClassLegend'>
                            <strong>{{ _('Groups') }}</strong> <small>({{ _('Default: ') }} <strong>{{ _('Some Group') }}</strong>)</small>:
                        </legend>
                        <div class='col-12'>
                            <div class='input-group'>
                                <div class='input-group-btn btn-group w-100'>
                                    <button type='button' class='btn dropdown-toggle orButtonSelect orSVGsml' id='buttonCaseCreateGroups'
                                            data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                                        {{ _('Select Case Group') }} <i class='fas fa-caret-down orClassCaretDown'></i>
                                    </button>
                                    <div class='dropdown-menu orDropdownMenu orSVGsml' id='dropdownGroupCreateMenuList'></div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div> <!-- /.form-group -->

                <div class='form-group row'>
                    <fieldset class='col-12 text-left orFieldSet'>
                        <div class='row' id='dueDateAddClient'>
                            <fieldset class='orClassFieldset col-7'>
                                <legend class='orClassLegend'>
                                    <strong>{{ _('Due Date') }}</strong> <small>({{ _('Default: ') }} <strong>{{ _('90 days from now') }}</strong>)</small>:
                                </legend>

                                <div class='col-12'>
                                    <input type='datetime-local' id='caseInputDueDate' class='form-control' name='dueDate'
                                           aria-describedby='caseDueDateHelp' aria-label='' />
                                    <i class='fad fa-times orInputIconTimes' id='caseDueDateIconTimes'></i>
                                    <i class='fad fa-check orInputIconCheck' id='caseDueDateIconCheck'></i>
                                    <small id='caseDueDateHelp'
                                           class='form-text text-muted orInvalidInputText orAlertMessageFormValidation'>
                                        {{ _('Default Due Date, is 90 days from current date') }}
                                    </small>
                                </div> <!-- /.col -->
                            </fieldset>

                            <div class='col-5' id='addClient'>
                                <a href='#' class='orAnchorAddClient btn btn-outline-danger' role='button'>
                                    <i class='fad fa-plus'></i>{{ _('Add Information') }}
                                </a>
                            </div> <!-- /.col -->
                        </div> <!-- /.row -->
                    </fieldset>
                </div> <!-- /.form-group -->

                <!---
                        Case - Create User Information
                --->
                <div class='orClientInformation'>
                    <fieldset class='form-group row' id='clientInformationFieldSet'>
                        <legend>User Information</legend>
                        <div class='form-group row'>
                            <label for='caseInputClientName' class='col-2 col-form-label'>
                                <strong>{{ _('Name') }}</strong>:
                            </label>
                            <div class='col-10'>
                                <input type='text' id='caseInputClientName' name='clientName' class='form-control'
                                       placeholder='Client Name' aria-describedby='caseClientNameHelp' />
                                <i class='fad fa-times orInputIconTimes' id='caseClientNameIconTimes'></i>
                                <i class='fad fa-check orInputIconCheck' id='caseClientNameIconCheck'></i>
                                <small id='caseClientNameHelp'
                                       class='form-text text-muted orInvalidInputText orAlertMessageFormValidation'>
                                    {{ _('Input a valid Client name') }}
                                </small>
                            </div> <!-- /.col -->
                        </div> <!-- /.form_group -->

                        <div class='form-group row'>
                            <label for='caseInputClientId' class='col-2 col-form-label'>
                                <strong>{{ _('ID') }}</strong>:
                            </label>
                            <div class='col-10'>
                                <input type='text' id='caseInputClientId' class='form-control' name='clientId'
                                       placeholder='Client ID' aria-describedby='caseClientIdHelp' />
                                <i class='fad fa-times orInputIconTimes' id='caseClientIdIconTimes'></i>
                                <i class='fad fa-check orInputIconCheck' id='caseClientIdIconCheck'></i>
                                <small id='caseClientIdHelp'
                                       class='form-text text-muted orInvalidInputText orAlertMessageFormValidation'>
                                    {{ _('Input a valid Client ID') }}
                                </small>
                            </div> <!-- /.col -->
                        </div> <!-- /.form_group -->

                        <div class='form-group row'>
                            <label for='caseInputClientDescription' class='col-2 col-form-label'>
                                <strong>{{ _('Description') }}</strong>:
                            </label>
                            <div class='col-10'>
                                <textarea id='caseInputClientDescription' class='form-control' name='clientDescription'
                                          placeholder='Client Details' aria-describedby='caseClientDescriptionHelp'></textarea>
                                <i class='fad fa-times orInputIconTimes' id='caseClientDescriptionIconTimes'></i>
                                <i class='fad fa-check orInputIconCheck' id='caseClientDescriptionIconCheck'></i>
                                <small id='caseClientDescriptionHelp'
                                       class='form-text text-muted orInvalidInputText orAlertMessageFormValidation'>
                                    {{ _('Input valid Client description') }}
                                </small>
                            </div> <!-- /.col -->
                        </div> <!-- /.form_group -->
                    </fieldset>
                </div> <!-- /.orUserInformation -->

                <!---
                        Case - Create Buttons
                --->
                <div class='text-center orButtonsSubmitCancel'>
                    <button id='buttonValidateCreateCase' type='button' name='validate' value='submit'
                            class='btn btn-success'>
                        <i class='fad fa-check'></i>{{ _('Submit') }}
                    </button>
                    <button id='buttonSubmitCreateCase' type='submit' name='submit' value='submit'
                            class='btn btn-success' hidden>{{ _('Submit') }}
                    </button>
                    <button id='buttonCancelCreateCase' type='button' value='cancel'
                            class='btn btn-danger orCancelBtn'>
                        <i class='fad fa-times'></i>{{ _('Cancel') }}
                    </button>
                </div> <!-- /.text-center -->
            </form>
        </div> <!-- /#dialog_create_new_case -->

        <!--
        ----------------------- Dialog - Edit Case -----------------------
        -->
        <div id='dialogEditCase' title='Edit Case' class='orEmergentDialog'>
            <div id='form_alert' class='alert alert-dark'>
                {{ _('All fields marked with') }} <span class='required_field'>*</span> {{ _('are required') }}
            </div> <!-- /#form_alert -->

            <form id='formEditCase' action='' method='post'>
                <!---
                        Case - Edit Name
                --->
                <div class='form-group row'>
                    <label for='caseInputEditName' class='col-2 col-form-label'>
                        <span class='orRequiredField'>*</span><strong>{{ _('Name') }}</strong>:
                    </label>
                    <div class='col-10'>
                        <input id='caseInputEditName' name='name' type='text' class='form-control'
                               placeholder='{{ _('Case Name') }}' aria-describedby='caseNameEditHelp'/>
                        <i class='fad fa-times orInputIconTimes' id='caseNameEditIconTimes'></i>
                        <i class='fad fa-check orInputIconCheck' id='caseNameEditIconCheck'></i>
                        <small id='caseNameEditHelp'
                               class='form-text text-muted orInvalidInputText orAlertMessageFormValidation'>
                            {{ _('Input a valid Case name') }}
                        </small>
                    </div> <!-- /.col -->
                </div> <!-- /.form-group -->

                <!---
                        Case - Edit ID
                --->
                <div class='form-group row'>
                    <label for='caseInputEditId' class='col-2 col-form-label'>
                        <span class='orRequiredField'>*</span><strong>ID</strong>:
                    </label>
                    <div class='col-10'>
                        <input id='caseInputEditId' name='id' type='text' class='form-control'
                               placeholder='{{ _('Case ID') }}' aria-describedby='caseIdEditHelp' />
                        <i class='fad fa-times orInputIconTimes' id='caseIdEditIconTimes'></i>
                        <i class='fad fa-check orInputIconCheck' id='caseIdEditIconCheck'></i>
                        <small id='caseIdEditHelp'
                               class='form-text text-muted orInvalidInputText orAlertMessageFormValidation'>
                            {{ _('Input a valid Case ID') }}
                        </small>
                    </div> <!-- /.col -->
                </div> <!-- /.form-group -->

                <!---
                        Case - Edit Description
                --->
                <div class='form-group row'>
                    <label for='caseTextareaEditDescription' class='col-2 col-form-label'>
                        <span class='orRequiredField'>*</span><strong>{{ _('Description') }}</strong>:
                    </label>
                    <div class='col-10'>
                        <textarea id='caseTextareaEditDescription' name='description' class='form-control'
                                  rows='4' placeholder='Case Description'
                                  aria-describedby='caseDescriptionHelp'></textarea>
                        <i class='fad fa-times orInputIconTimes' id='caseDescriptionEditIconTimes'></i>
                        <i class='fad fa-check orInputIconCheck' id='caseDescriptionEditIconCheck'></i>
                        <small id='caseDescriptionEditHelp'
                               class='form-text text-muted orInvalidInputText orAlertMessageFormValidation'>
                            {{ _('Input a valid Case Description') }}
                        </small>
                    </div> <!-- /.col -->
                </div> <!-- /.form-group -->

                <!---
                        Case - Edit
                --->
                <input id='caseHiddenInputEditType' name='type' hidden aria-label=''/>
                <input id='caseHiddenInputEditStatus' name='status' hidden aria-label=''/>
                <input id='caseHiddenInputEditGroup' name='group' hidden aria-label='' />

                <!---
                        Case - Edit Type - Status - Group
                --->
                <div class='form-group row align-items-center h-100'>
                    <fieldset class='col-4 text-left orFieldSet'>
                        <legend class='orClassLegend'>
                            <strong>{{ _('Type') }}</strong>:
                        </legend>
                        <!--<div class='btn-group open dropdown col-10 mx-auto' id='dropdownSelectTypeButton'>-->
                        <div class='col-12'>
                            <div class='input-group'>
                                <div class='input-group-btn btn-group w-100'>
                                    <button type='button' class='btn dropdown-toggle orButtonSelect' id='buttonCaseEditType'
                                            data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                                        {{ _('Select Case Type') }} <i class='fas fa-caret-down orClassCaretDown'></i>
                                    </button>
                                    <div class='dropdown-menu orDropdownMenu'>
                                        <a class='dropdown-item orClassTypeEditItem' href='#'><i class='fad fa-user-secret orCaseStatusIconFraud'></i>{{ _('Fraud') }}</a>
                                        <a class='dropdown-item orClassTypeEditItem' href='#'><i class='fad fa-baby orCaseStatusIconIcac'></i>{{ _('ICAC') }}</a>
                                        <a class='dropdown-item orClassTypeEditItem' href='#'><i class='fad fa-balance-scale orCaseStatusIconLegal'></i>{{ _('Legal') }}</a>
                                        <a class='dropdown-item orClassTypeEditItem' href='#'><i class='fad fa-user-shield orCaseStatusIconSecurity'></i>{{ _('Security') }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <!---
                        Case - Edit Status
                    --->
                    <fieldset class='col-4 text-left orFieldSet'>
                        <legend class='orClassLegend'>
                            <strong>{{ _('Status') }}</strong>:
                        </legend>
                        <!--<div class='btn-group open dropdown col-10 mx-auto' id='dropdownSelectTypeButton'>-->
                        <div class='col-12'>
                            <div class='input-group'>
                                <div class='input-group-btn btn-group w-100'>
                                    <button type='button' class='btn dropdown-toggle orButtonSelect orSVGsml' id='buttonCaseEditStatus'
                                            data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                                        {{ _('Select Case Status') }} <i class='fas fa-caret-down orClassCaretDown'></i>
                                    </button>
                                    <div class='dropdown-menu orDropdownMenu orSVGsml'>
                                        <a class='dropdown-item orClassStatusEditItem orSVGsml' href='#'><i class='fad fa-circle orCaseStatusIconDraft'></i>{{ _('Draft') }}</a>
                                        <a class='dropdown-item orClassStatusEditItem orSVGsml' href='#'><i class='fad fa-play orCaseStatusIconPlay'></i>{{ _('Active') }}</a>
                                        <a class='dropdown-item orClassStatusEditItem orSVGsml' href='#'><i class='fad fa-pause orCaseStatusIconOnHold'></i>{{ _('On hold') }}</a>
                                        <a class='dropdown-item orClassStatusEditItem orSVGsml' href='#'><i class='fad fa-stop orCaseStatusIconClosed'></i>{{ _('Closed') }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <!---
                            Case - Edit Groups
                    --->
                    <fieldset class='col-4 text-left orFieldSet'>
                        <legend class='orClassLegend'>
                            <strong>{{ _('Groups') }}</strong>:
                        </legend>
                        <div class='col-12'>
                            <div class='input-group'>
                                <div class='input-group-btn btn-group w-100'>
                                    <button type='button' class='btn dropdown-toggle orButtonSelect orSVGsml' id='buttonCaseEditGroups'
                                            data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                                        {{ _('Select Case Group') }} <i class='fas fa-caret-down orClassCaretDown'></i>
                                    </button>
                                    <div class='dropdown-menu orDropdownMenu orSVGsml' id='dropdownGroupEditMenuList'></div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div> <!-- /.form-group -->

                <!---
                        Case - Edit Due Date
                --->
                <div class='form-group row'>
                    <fieldset class='orClassFieldset col-7'>
                        <legend class='orClassLegend'>
                            <strong>{{ _('Due Date') }}</strong>:
                        </legend>
                        <div class='col-10'>
                            <input type='datetime-local' id='caseInputEditDueDate' class='form-control'
                                   name='dueDate' aria-describedby='caseEditDueDateHelp' aria-label='' />
                            <i class='fad fa-times orInputIconTimes' id='caseDueDateIconTimes'></i>
                            <i class='fad fa-check orInputIconCheck' id='caseDueDateIconCheck'></i>
                            <small id='caseEditDueDateHelp'
                                   class='form-text text-muted orInvalidInputText orAlertMessageFormValidation'>
                                {{ _('Default Due Date, is 90 days from current date') }}
                            </small>
                        </div> <!-- /.col -->
                    </fieldset>
                </div> <!-- /.form-group -->

                <!---
                        Case - Edit Buttons
                --->
                <div class='text-center orButtonsSubmitCancel'>
                    <button id='buttonValidateEditCase' type='button' name='validate' value='submit'
                            class='btn btn-success'>
                        <i class='fad fa-check'></i>{{ _('Submit') }}
                    </button>
                    <button id='buttonSubmitEditCase' type='submit' name='submit' value='submit'
                            class='btn btn-success' hidden>{{ _('Submit') }}
                    </button>
                    <button id='buttonCancelEditCase' type='button' value='cancel'
                            class='btn btn-danger cancel_btn'>
                        <i class='fad fa-times'></i>{{ _('Cancel') }}
                    </button>
                </div> <!-- /.text-center -->
            </form>
        </div> <!-- /#dialog_edit_case -->
    </div> <!-- /#eventPanel -->
{% endblock %}
