<!-- show the login page 500.html -->
{% extends 'base_login.html' %}
{% block content %}

    <div class='text-center mb-4'>
        <img class='mb-4' src='{{ url_for("static", filename="dist/img/OWL_logo/OWL_logo_md.png") }}'
             alt='OWL Logo' width='190' height='75'/>
    </div> <!-- /.text-center -->

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class='alert alert-danger orAlertMessage'>{{ messages[0] }}</div> <!-- /.message_alert -->
        {% endif %}
    {% endwith %}

    <div class='container h-100 w-100'>
        <div class='row h-100 w-100 justify-content-center align-items-center alert alert-dark' role='alert'>
            <h1 class='display-4'>{{ _('Error - 500') }}<small> <strong>-</strong> {{ _('Internal Server Error') }}</small></h1>
        </div> <!-- /.row -->
        <div class='row h-100 w-100 justify-content-center align-items-center'>
            <h1 class='h3 mb-3 font-weight-normal display-4'>{{ _('An unexpected error has occurred') }}</h1>
        </div> <!-- /.row -->
        <div class='row h-100 w-100 justify-content-center align-items-center'>
            <h2>{{ _('The administrator has been notified.  Sorry for the inconvenience!') }}</h2>
        </div> <!-- /.row -->
    </div> <!-- /.container -->

    <div class='row h-100 justify-content-center align-items-center'>
        <a class='btn btn-info'
           href='{{ url_for(prev_page) }}'>
            {{ _('Safe Place') }}
        </a>
        </div> <!-- /.row -->
{% endblock %}
